.contct-us-form{
    padding:10vw;
}

.label{
    font-size: 15px;
    font-family: 'montserrat';
    font-weight: bold;
}

.input{
    font-size: 13px;
}

.send-button{
    width:150px;
    margin-top: 15px;
    font-size: 14px;
    font-family:'montserrat';
}

.headerDiv{
    background-image:linear-gradient(to right,rgba(0,0,0,0.5),rgba(9, 132, 227,0.4)),
                url('../../assests/images/R.jpeg');
    color:white;
    width:100%;
    height:60vh;
    background-size: cover;
    text-align: center;
    background-position:top;
}
.navBarList{
    display: flex;
    margin-right: 4em;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 0;
    z-index: -1;
}

.navBarList img{
    width:50px;
    height: 46px;
    margin-left: 7vw;
}

.side-img{
    width:50px;
    height: 46px;
    margin-left: 7vw;
    position: absolute;
    top: 5vw;
    display: none;
}

.toggle-button{
    font-size: 7vw;
    position:absolute;
    z-index: 3;
    right: 7vw;
    top:7vw;
    display: none;
}

.navBarItem{
    list-style: none;
    display: inline-block;
    margin: 0 0.5em;
    position:relative;
}

.navBarItem a{
    margin: 0 0.3em;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
}

.navBarItem::after{
    content: '';
    height: 0.088em;
    width:0;
    background: #0984e3;
    position: absolute;
    left: 0;
    bottom:-0.1em;
    transition: 0.5s width;
}

.navBarItem:hover::after{
    width:100%;
}

.UMiSF-container{
    width:100%;
    position: relative;
    top:45%;
    padding-left: 6%;
    z-index: 0;
}

.UMiSF-container h1{
    color:white;
    font-size: 50px;
    font-weight: bold;
    font-family: 'roboto';
}

.navSideBar{
    position: absolute;
    background: rgba(0,0,0,0.8);
    height: 100vh;
    width:100%;
    text-align: center;
    display:none;
    z-index: 2;
}

@media screen and (max-width:770px){
    .UMiSF-container h1{
        font-size: 5em;
        text-shadow: 1px 1px 5px black ;
    }
}

@media screen and (max-width:500px){
    .UMiSF-container h1{
        font-size: 4.5em;
        text-shadow: 1px 1px 5px black ;
    }

    .toggle-button{
        display: block;
    }

    .navBarItem{
        display: block;
        margin: 30px;
        top:10vh;
        justify-content: center;
        align-items: center;
    }
    .navBarList{
        display: none;
    } 

    .side-img{
        display: block;
    }

}

@media screen and (min-width:501px){
    .navSideBar{
        width: 0;
    }

    .navSideBar li{
        display: none;
    }
}

