.team{
    height:50vw;
    width: 100%;
    padding: 1vw;
}

.team-title{
    width:100%;
    text-transform: uppercase;
    margin:1vw
}

.team-title span{
    font-family: 'roboto';
    font-size: 40px;
}

.container{
    display: flex;
    flex-direction: row;
    background-color: rgba(9, 132, 227,0.2);
    width: 100%;
}

.group-photo img{
    height:40vw;
    object-fit: scale-down;
}

.captains,.vice-captains{
    display:inline-flex;
}

.member{
    margin: 1vw 1.7vw;
}

@media screen and (max-width:600px){
    .team{
        height:140vw;
    }

    .container{
        display: block;
    }
   

    .group-photo img{
        height:65vw;
        object-fit: scale-down;
    }

    .member{
        margin: 1vw 9.5vw;
    }
}
@media screen and (max-width:425px){

    .team{
        height:150vw;
    }

    .captain-contaier{
        display: flex;
        flex-direction: column;
    }

    .member{
        margin: 1vw 9.5vw;
    }
}