.row{
    border-radius: 20px;
    height: 75px;
    /* font-size: 1vw; */
    margin-bottom: 0.5%;
}

.row:hover{
    cursor: pointer;
    background-color:  rgba(170, 170, 170, 0.638);
}

.match-result-table{
    /* width: 85%; */
}