.card{
    position: relative;
    height: 200px;
    width: 280px;
    background-color: rgb(65, 65, 65);
    background-image: url('./Images/umisf_logo.jpg');
    background-repeat: no-repeat;
    background-size: 280px 150px;
    border-radius: 8%;
    margin: 5%;
    box-shadow: 5px 10px;
}

.link{
   position: absolute;
    padding-left: 35%;
    top: 150px;
    color: white;
    font-size: 3vh;
    height: fit-content;

}


